<footer class="site-footer clearfix">
  <nav>
    <div>
      <div class="social">
        <a href="http://www.facebook.com/{{ site.facebook_username }}">
          <img alt="facebook" src="{{ "/assets/img/facebook.png" | prepend: site.baseurl }}"/>
        </a>
        <a href="http://pinterest.com/{{ site.pinterest_username }}">
          <img alt="pinterest" src="{{ "/assets/img/pinterest.png" | prepend: site.baseurl }}"/>
        </a>
        <a href="http://www.instagram.com/{{ site.instagram_username }}">
          <img alt="instagram" src="{{ "/assets/img/instagram.png" | prepend: site.baseurl }}">
        </a>
      </div>
      <p>© 2016 por Aurora Perez</p>
    </div>
  </nav>
</footer>