<footer class="site-footer clearfix">
  <nav>
    <div style="text-align: center">
      <div>
        <img alt="facebook" src="/assets/img/facebook.png" style="width:30px;height:30px;object-fit:cover;">
        <img alt="pinterest" src="/assets/img/pinterest.png" style="width:30px;height:30px;object-fit:cover;">
        <img alt="instagram" src="/assets/img/instagram.png" style="width:30px;height:30px;object-fit:cover;">
      </div>
      <p>© 2016 por Aurora Perez</p>
      <p>tinchodias@gmal.com</p>
    </div>
  </nav>
</footer>