{% assign id = "/products/" | append: include.product-id %}
{% assign products = site.products | where:"id", id %}
{% for product in products %}
<div class="product-family clearfix" id="{{ include.product-id | slugify }}">
  <div class="product-family-heading">
    <h3 class="product-family-name">
      <a href="{{ product.url }}">
          {% if product.nickname %}
            {{ product.nickname }}
          {% else %}
            {{ product.title }}
          {% endif %}
      </a>
    </h3>

    <p class="product-family-description">{{ product.description }}</p>
  </div>

  <div class="product-details">
      <table class="product-rules">
        <tr>
        {% assign types = "permissions|conditions|limitations" | split: "|" %}
        {% for type in types %}
          <th class="label">{{ type | capitalize }}</th>
        {% endfor %}
        </tr>
        <tr>
          {% for type in types %}
            <td>
              <ul class="product-{{ type }}">
                {% assign rules = site.data.rules[type] | sort: "label" %}
                {% for rule_obj in rules %}
                  {% assign req = rule_obj.tag %}
                  {% if product[type] contains req %}
                    <li class="{{ req }}">
                      <span class="product-sprite"></span>
                      {{ rule_obj.label }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </td>
          {% endfor %}
        </tr>
      </table>
      <p class="small"><a href="{{ product.url }}">View full {{ product.title }} »</a></p>
  </div>
</div>
{% endfor %}
