<div class="sidebar">
  
  <div class="product-description">
    <h3>Description</h3>
    <p>
      {{ page.description }}
    </p>
  </div>
  
  {% if page.nickname %}
  <div class="product-nickname">
    <h3>Nickname</h3>
    <p>
      {{ page.nickname }}
    </p>
  </div>
  {% endif %}
  
  <div class="how-to-apply">
    <h3>How to apply this product</h3>
    <p>
      {{ page.how | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>Note: </strong> {{ page.note | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
  </div>
  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">
      <span class="product-sprite"></span>
      Source
    </a>
  </div>
  {% endif %}

  <div class="product-rules product-rules-sidebar">

  {% assign types = "permissions|conditions|limitations" | split: "|" %}
  {% for type in types %}
    <h3>{{ type | capitalize }}</h3>
    <ul class="product-{{ type }}">
      {% assign rules = site.data.rules[type] | sort: "label" %}
      {% for rule_obj in rules %}
        {% assign req = rule_obj.tag %}
        {% if page[type] contains req %}
          <li class="{{ req }}">
            <span class="product-sprite"></span>
            {{ rule_obj.label }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

  </div>

  {% if page.using %}
  <div class="projects-with-product">
    <h3>Who's using this product?</h3>
    <ul>
      {% for using in page.using %}
        {% for hash in using %}
          <li><a href="{{ hash[1] }}" target="_blank">{{ hash[0] }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
