---
---

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import "normalize";


body {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: 700;
//  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}




nav {
  padding: 50px;

  .page-link {
    padding: 10px;
    font-size: 120%;
    text-decoration: overline;
//    text-transform: uppercase;
  }
  .active-page-link {
    color: #F2668F;
  }
  .page-link:hover {
    color: black;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.site-footer {
  p {
    font-size: smaller;
  } 
  .social {
    margin: 10px;
  }
}




/* Products page */

.products {
  .thumbnail { 
    margin-bottom: 0px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: black;
    overflow: hidden;
    min-height: 500px;
    margin-bottom: 10px;
  }
  .product-thumbnail {
    margin-bottom: 20px;
  }
  .product-title {
    text-align: left;
  }
  .product-pesos {
    margin-left: 5px;
  }
  .product-price {
    font-size: larger;
  }
}

/* --- */



/* Product page */

$thumbnail-max-width: 400px;
$thumbnail-border-radius: 3px;

.product {
  .product-info {
    text-align: left;
    margin: auto;
    max-width: $thumbnail-max-width;
  }
  .product-title {
    font-size: large;
    display: block;
  }
  .product-pesos:before { content: '\A'; }
  .product-pesos {
  }
  .product-price {
    font-size: larger;
  }
  .product-description {
    display: block;    
  }
  #large-thumbnail { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: black;
    border-radius: $thumbnail-border-radius;
    min-height: 600px;
    max-width: $thumbnail-max-width;
//    margin-bottom: 5px;
  }
  // .mini-thumbnail { 
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center center; 
  //   min-height: 150px;
  //   margin-bottom: 10px;
  // }
  .fb-like {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .fb-comments {
    margin-top: 50px;
    background-color: rgb(229, 232, 234);
    border-radius: $thumbnail-border-radius;
  }
}

/* --- */





/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


