---
---

@import "normalize";


header {
  text-align: center;
}


nav {
  text-align: center;
  padding: 30px;
}

.page-link {
  padding: 10px;
}



body {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
}

a {
//  color: #149ad4;
//  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  text-align: center;
}




/* Producs page */

.thumbnail { 
  border-radius: 0px;
  margin-bottom: 0px;
  height: 250px;
  text-align: center;
//  color: white;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.col-xs-6, .col-sm-4, .col-md-3 { 
  padding: 5px;
}

/* --- */



/* Product page */

#large-thumbnail { 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  min-height: 300px;
  max-width: 400px;
  margin-bottom: 10px;
}
.mini-thumbnail { 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  min-height: 150px;
  margin-bottom: 10px;
 }

/* --- */





/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


