<!DOCTYPE html>
<html>
	{% include head.html %}
<!-- 	<body onload="onLoad()"> -->
	<body>
		{% include header.html %}
		<div class="container product">
			<div class="row">
				<div class="col-md-6">
					<img id="large-thumbnail" src="{{ page.primaryImageUrl }}" />
				</div>
				<div class="product-info col-md-6">
					<p>
						<span class="product-title">{{ page.title }}</span>
						<span class="product-pesos">{{ "$" }}</span>
						<span class="product-price">{{ page.price }}</span>
						<span class="product-description">{{ page.description }}</span>
					</p>
				</div>
			</div>
		</div>
		{% include footer.html %}

<!--     <script type="text/javascript">
        /*<![CDATA[*/
        function onLoad() {

		{% for imageUrl in imageUrls %}
            $("#id1").mousemove(function () {
                document.getElementById("large-product-thumbnail").style = "background-image: url({{ imageUrl }})"
            });
		{% endfor %}

        }; /*]]>*/
    </script>
 -->
    	</body>
</html>
